<!--
Whatever: Elizabeth, Maya, Anthony
SoftDev
K12
2022-10-18
time-spent: 1 hr
-->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Team Whatever: Elizabeth Paperno, Anthony Sun, Maya Nelson</h1>
    <h2>Hello {{name}}! Thanks for stopping by!</h2>
    <h3>The request method used is {{req}}</h3>

    <p>
      GET: returns HTML associated with a given URL. If the URL has parameters (aka query string), the HTML returned corresponds with those params.
      POST: params/args are embedded in HTTP request body, and therefore are not reflected on URL. this is more secure

      Instead of using request.args for GET, we use request.form for POST
    </p>
  </body>
</html>
