<!--
Whatever: Elizabeth, Maya, Anthony
SoftDev
K13: Practice with HTML and CSS
2022-10-20
Time Spent: 0.2 hr
-->

<!DOCTYPE html>
<head>
    <title>Mimic</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body class="arial">
    <div class="container">
        <div class="header verticalcenter">
            <h1>h1 foo</h1>
        </div>

        <div class="body">
            <div>
                <h3>nav foo</h3>
                <p class="graynav">dis</p>
                <p class="graynav">dat</p>
                <p class="graynav">de udda ting</p>
            </div>

            <div>
                <h2>main foo heading</h2>
                <p>As he often remembered afterwards, and always with no small wonder, he found himself at first gazing at the portrait with a feeling of almost scientific interest. That such a change should have taken place was incredible to him. And yet it was a fact. Was there some subtle affinity between the chemical atoms that shaped themselves into form and colour on the canvas and the soul that was within him? Could it be that what that soul thought, they realized?--that what it dreamed, they made true? Or was there some other, more terrible reason? He shuddered, and felt afraid, and, going back to the couch, lay there, gazing at the picture in sickened horror.</div>
        </div>

        <div class="footer verticalcenter">
            <p>Copyright © 2022 Whatever: Elizabeth, Maya, Anthony</p>
        </div>
    </div>
</body>
</html>
